.Text{
    text-align: center;
    font-size: 100px;
    color: blue;
    font-style: bold;
}
.Main{
    padding: 2rem;
    width: 100%;
    

}
.bgco{
    background-color:#113C7A;
}
hr { border-left: 0; }
hr.style5 {
	background-color: #fff;
    border-top: 7px dashed #000000;
    
}